@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@700&display=swap');

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    padding-top: 1.5rem;
}

.sub-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 1.5rem;
}